.about-left {
    border-radius: 1rem;
    padding-left: 3rem;
    padding-top: 3rem;
    margin-right: 1rem;
    background-color: rgb(228, 228, 228);
    
}

.about-rigth {
    border-radius: 1rem;
    margin-left: 1rem;
    padding-left: 3rem;
    padding-top: 3rem;
    background-color: rgb(150, 225, 250);
    
}

.about-rigth p {
    width: 80%;
    margin-bottom: 2rem;
    line-height: 2rem;
}

.about-details {
    margin-top: 2rem;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2;
}
