.home-container {
    text-align: center;
}


.resume-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-image {
    object-fit: cover;
    width: 100%;
    height: 100vh;
}