.testimonial-left {
    border-radius: 1rem;
    margin-right: 1rem;
    padding-left: 3rem;
    padding-top: 3rem;
    background-color: rgb(150, 225, 250);
}

.testimonial-rigth {
    border-radius: 1rem;
    margin-left: 1rem;
    padding-left: 3rem;
    padding-top: 3rem;
    background-color: rgb(228, 228, 228);
    
}

.testimonials-deails-h {
    font-size: bold;
}
