.Styled-Button {
    border-radius: 100vw;
    padding: 0.5rem 2rem;
   
}

.Styled-Button:hover, 
.Styled-Button.filled:hover {
    cursor: pointer;
    background-color: #19385c;
}

.Styled-Button.filled {
    border: none;
    background-color: #396291;
    color: white;
}

.Styled-Button.outlined {
    border: 2px solid #000;
}